* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}

header, footer, nav, main {
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

header {
    background-color: #ff9966;
    height: 100px;
}

footer {
    background-color: #66b3ff;
    height: 80px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

nav {
    background-color: #9966cc;
    width: 200px;
}

main {
    background-color: #c0ffb3;
    flex-grow: 1; 
}

h1, h2 {
    color: #fff;
    margin: 0;
}

.nav-item{
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.nav-item:hover {
    transform: translateX(5px);
}


.nav-link{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    background-color: #437ba8;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
}